<a href="https://colab.research.google.com/github/zain4cs/Banking-Customer-Churn-Prediction/blob/main/Cutomer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd

In [68]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [69]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [70]:
df.isnull().sum().sort_values(ascending=False)

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [72]:
df['Exited'].value_counts(ascending=False)

Exited
0    7963
1    2037
Name: count, dtype: int64

In [73]:
df.groupby('Age')['Exited'].value_counts().sort_values(ascending=False)

Age  Exited
35   0         417
37   0         416
38   0         414
34   0         414
36   0         403
              ...
82   0           1
84   0           1
     1           1
85   0           1
88   0           1
Name: count, Length: 128, dtype: int64

In [74]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [75]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],axis= True)

In [76]:
num = df.select_dtypes(include=['int','float'])
num.head()

   CreditScore  Age  Tenure  ...  IsActiveMember  EstimatedSalary  Exited
0          619   42       2  ...               1        101348.88       1
1          608   41       1  ...               1        112542.58       0
2          502   42       8  ...               0        113931.57       1
3          699   39       1  ...               0         93826.63       0
4          850   43       2  ...               1         79084.10       0

[5 rows x 9 columns]

In [77]:
category= df.select_dtypes(include=['object'])
category.head()

  Geography  Gender
0    France  Female
1     Spain  Female
2    France  Female
3    France  Female
4     Spain  Female

In [78]:
mapping = {'Male':1, 'Female':0}
df['Gender'] = df['Gender'].map(mapping)

display(df[['Gender','Gender']].head())

   Gender  Gender
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

In [79]:
# df['Geography_encoder'].value_counts()

In [80]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# df['Geography_encoder'] = le.fit_transform(df['Geography'])
# display(df[['Geography','Geography_encoder']].head())

In [81]:
df = pd.get_dummies(df,columns=['Geography'], drop_first=True)

In [82]:
df.head()

   CreditScore  Gender  Age  ...  Exited  Geography_Germany  Geography_Spain
0          619       0   42  ...       1              False            False
1          608       0   41  ...       0              False             True
2          502       0   42  ...       1              False            False
3          699       0   39  ...       0              False            False
4          850       0   43  ...       0              False             True

[5 rows x 12 columns]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_Germany  10000 non-null  bool
 11  Geography_Spain    10000 non-null  bool
dtypes: bool(2), float64(2), int64(8)
memory usage: 800.9 KB

In [84]:
x = df.drop(columns=['Exited'], axis=1)
y = df['Exited']

_____________________________________________

**Model!**

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, confusion_matrix, classification_report

In [87]:
x_train, x_test ,y_train, y_test = train_test_split(x,y,test_size=0.2)

_________________________________________

**RandomForest**

In [109]:
rf = RandomForestClassifier(n_estimators=200, class_weight='balanced', random_state=42)
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [111]:
print("RandomForest")
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Precision: ", precision_score(y_test, y_pred))
print("F1 Score: ", f1_score(y_test, y_pred))
print("Recall: ", recall_score(y_test, y_pred))
print("Confusion: ", confusion_matrix(y_test, y_pred))
print("Classificatio: ",classification_report(y_test, y_pred))

RandomForest
Accuracy:  0.8635
Precision:  0.7426160337552743
F1 Score:  0.5632
Recall:  0.4536082474226804
Confusion:  [[1551   61]
 [ 212  176]]
Classificatio:                precision    recall  f1-score   support

           0       0.88      0.96      0.92      1612
           1       0.74      0.45      0.56       388

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000

___________________________________________

**LogisticRegression!**

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [91]:
scale = StandardScaler()
x_train_scaled = scale.fit_transform(x_train)
x_test_scaled = scale.transform(x_test)

In [92]:
log_reg = LogisticRegression(max_iter=1000, random_state=42)
log_reg.fit(x_train_scaled, y_train)
y_pred = log_reg.predict(x_test)

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [112]:
print("LogisticRegression!")
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Precision: ", precision_score(y_test, y_pred))
print("F1 Score: ", f1_score(y_test, y_pred))
print("Recall: ", recall_score(y_test, y_pred))
print("Confusion: ", confusion_matrix(y_test, y_pred))
print("Classificatio: ",classification_report(y_test, y_pred))

LogisticRegression!
Accuracy:  0.8635
Precision:  0.7426160337552743
F1 Score:  0.5632
Recall:  0.4536082474226804
Confusion:  [[1551   61]
 [ 212  176]]
Classificatio:                precision    recall  f1-score   support

           0       0.88      0.96      0.92      1612
           1       0.74      0.45      0.56       388

    accuracy                           0.86      2000
   macro avg       0.81      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000

_____________________________________

**Cross Validadtion**

In [98]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [99]:
log = LogisticRegression(max_iter=1000, random_state=42)

In [100]:
scores = cross_val_score(log,x,y,cv=5, scoring='accuracy')
print("Score of each flod: ", scores)
print("Mean CV Score: ", scores.mean())

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Score of each flod:  [0.809  0.8105 0.811  0.8195 0.8055]
Mean CV Score:  0.8111

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

_______________________________________

**XGBClassifier!**

In [103]:
from xgboost import XGBClassifier

In [107]:
xgb = XGBClassifier(use_label_encoder=False, eval_matric='logless', n_estimators=200)
xgb.fit(x_train, y_train)
y_pred_xgb = xgb.predict(x_test)

/usr/local/lib/python3.12/dist-packages/xgboost/training.py:183: UserWarning: [19:26:11] WARNING: /workspace/src/learner.cc:738:
Parameters: { "eval_matric", "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [108]:
print("Accuracy:", accuracy_score(y_test, y_pred_xgb))
print("Precision:", precision_score(y_test, y_pred_xgb))
print("Recall:", recall_score(y_test, y_pred_xgb))
print("F1 Score:", f1_score(y_test, y_pred_xgb))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_xgb))
print("Classification Report:\n", classification_report(y_test, y_pred_xgb))

Accuracy: 0.8505
Precision: 0.6539792387543253
Recall: 0.48711340206185566
F1 Score: 0.5583456425406204
Confusion Matrix:
 [[1512  100]
 [ 199  189]]
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.94      0.91      1612
           1       0.65      0.49      0.56       388

    accuracy                           0.85      2000
   macro avg       0.77      0.71      0.73      2000
weighted avg       0.84      0.85      0.84      2000